body {
    font-family: Tahoma, sans-serif;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.5;
}
.centered {
    text-align: center;
}
.container {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.section {
    margin-right: 0;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    padding-bottom: 20px;
}
h1 {
    font-size: 50px;
    font-weight: normal;
    margin-top: 30px;
}
h2 {
    font-size: 40px;
    font-weight: normal;
    margin-top: 30px;
}
h3 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 30px;
}
h4 {
    font-size: 25px;
    font-weight: normal;
    margin-top: 30px;
}
h5 {
    font-size: 16px;
    font-weight: normal;
}
h6 {
    font-size: 13px;
    font-weight: normal;
}

.img-thumbnail {
    color: #ddd;
}
a {
    color: #1168BD;
}

.btn {
    text-shadow: none;
}

.icon-xs {
    width: 12px;
    height: 12px;
    margin: 2px 2px 4px 0;
}
.icon-sm {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 2px 2px 4px 0;
}
.icon-md {
    width: 26px;
    height: 26px;
    margin: 2px 2px 4px 0;
}
.icon-lg {
    width: 36px;
    height: 36px;
    margin: 2px 2px 4px 0;
}
.icon-xxl {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.icon-white {
    filter: invert(1);
}
.icon-h1 {
    width: 45px;
    height: 45px;
    vertical-align: bottom;
    line-height: 1;
    margin-bottom: 0;
}
.icon-h2 {
    width: 32px;
    height: 32px;
    vertical-align: bottom;
    margin-bottom: 4px;
}